 <div class="banner-area section-pb">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Banner Start -->
                        <div class="single-banner mt-30">
                            <img src="assets/images/banner/banner-01.jpg" alt="">
                            <div class="banner-content text-center">
                                <div class="banner-content-box">
                                    <h4>NGày hội hoa sắc màu</h4>
                                    <p>Quy tụ những loài hoa quý  hiếm, đầy màu sắc mang  lại sự đa dạng sản phẩm tạo Shop hoa flower</p>
                                    <a href="/sanpham">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Banner Start -->
                        <div class="single-banner mt-30">
                            <img src="assets/images/banner/banner-02.jpg" alt="">
                            <div class="banner-content text-center">
                                <div class="banner-content-box">
                                    <h4>NGày hội hoa sắc màu</h4>
                                    <p>Quy tụ những loài hoa quý  hiếm, đầy màu sắc mang  lại sự đa dạng sản phẩm tạo Shop hoa flower</p>
                                    <a href="/sanpham">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <!-- Single Banner Start -->
                        <div class="single-banner mt-30">
                            <img src="assets/images/banner/banner-03.jpg" alt="">
                            <div class="banner-content text-center">
                                <div class="banner-content-box">
                                    <h4>NGày hội hoa sắc màu</h4>
                                    <p>Quy tụ những loài hoa quý  hiếm, đầy màu sắc mang  lại sự đa dạng sản phẩm tạo Shop hoa flower</p>
                                    <a href="/sanpham">Shop now</a>
                                </div>
                            </div>
                        </div>
                        <!-- Single Banner End -->
                    </div>

                </div>
            </div>
        </div>